<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Eastlaw.pk</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background: #000;
            font-family:Calibri;
        }
    </style>
</head>

<body>
    <table width="600" cellpadding="0" cellspacing="0" align="center">
        <tr bgcolor="#000000">
            <td align="left" style="float:left;">
                <img src="http://ems.eastlaw.pk/newsletter/templates/template1/images/call.png" style="height:23px;float:left;    margin-right: 7px;
    margin-top: 8px;" />
                <p style="margin: 0;font-size:18px;
    margin-top: 8px;color:#fff;float:left;">+92 42 37311670-71 </p>
            </td>
            <td align="right" width="335" style="float:right;">
                <p style="color:#fff;float:left;margin:0;margin-top: 8px;font-size:18px;font-weight:600;">Follow Us:</p>
                <img src="http://ems.eastlaw.pk/newsletter/templates/template1/images/arrow.png" style="float:left; margin:0 8px;margin-top:8px;margin-right:21px;" />
                <ul style="margin:0;">
                    <li style="display:block;float:left;list-style:none;"><a href="https://www.facebook.com/eastlaw.pk/" target="_blank" style="text-decoration:none;"><img src="http://ems.eastlaw.pk/newsletter/templates/template1/images/fb.png" /></a></li>
                    <li style="float:left;margin-left:5px;background:#fff;list-style:none;"><a href="https://twitter.com/EastLawpk" target="_blank" style="text-decoration:none;display:block;"><img src="http://ems.eastlaw.pk/newsletter/templates/template1/images/tw.png" /></a></li>
                    <!--<li style="display:block;float:left;margin-left:5px;list-style:none;"><a href="#" style="text-decoration:none;"><img src="images/goo.png" /></a></li>-->
                </ul>
            </td>
        </tr>
        <tr height="10" bgcolor="#000000"></tr>
        <tr bgcolor="#dadada">
            <td>
                <center>
                    <img src="https://eastlaw.pk/style/img/logo2.jpg" style="padding-top:15px;height: 30px;" />
                </center>
            </td>
        </tr>
        <tr bgcolor="#dadada">
            <td>
                <h1 style="font-size:28px;    font-weight: 600;
    margin-top:6px;margin-bottom:0;padding-bottom:10px; text-align:center;">
                    EASTLAW<span style="color:#d11515;">.pk</span>
                </h1>
            </td>
        </tr>
        <!--<tr>
            <td bgcolor="#dadada">
                <p style="text-align:center;padding-bottom:15px;    font-family: arial;
    font-size: 11px;
    font-weight: 600;">
                    DO YOU NEED HELP WITH A CASE? <a href="#" style="display:inline-block;background:#d11515;padding:6px 11px;color:#fff;text-decoration:none;border-radius: 4px;
    font-weight: normal;
    margin-left: 8px;">Take Review</a>
                </p>
            </td>
        </tr>-->
        <tr height="10" bgcolor="#000000"></tr>
        <tr>
            <td>
            ##BNRFILE##
            
        </tr>
        <tr height="10" bgcolor="#000000"></tr>
        <tr bgcolor="#c51313">
            <td>
                <h1 style="font-size:24px;color:#fff;text-align:center;padding:8px 0;    font-family: arial;
    margin: 0;">
                    LATEST JUDGMENTS
                </h1>
            </td>
        </tr>
        ##LATESTJUDGMENT##

        <!--===============================-->

        <tr bgcolor="#c51313">
            <td>
                <h1 style="font-size:24px;color:#fff;text-align:center;padding:8px 0;    font-family: arial;
    margin: 0;">
                    TOP STATUTES
                </h1>
            </td>
        </tr>
        ##TOPSTATUTES##

        <!--=======================================================-->

        <tr bgcolor="#c51313">
            <td>
                <h1 style="font-size:24px;color:#fff;text-align:center;padding:8px 0;    font-family: arial;
    margin: 0;">
                    DEPARTMENTS
                </h1>
            </td>
        </tr>
        ##DEPT##

        <!--=======================================================-->
        <tr bgcolor="#c51313">
            <td>
                <h1 style="font-size:24px;color:#fff;text-align:center;padding:8px 0;    font-family: arial;
    margin: 0;">
                    TOP PRACTICE AREA
                </h1>
            </td>
        </tr>
        ##TOPPRACTICEAREA##

        <!--=======================================================-->

        
        

        <!--=======================================================-->

        
        

        <!--=======================================================-->

        <tr bgcolor="#FFFFFF" style="padding:30px 0;">
            <td>
                <h4 style="text-align:center;font-size:20px;color:#bf1313;margin-bottom:10px;">Email Management Area</h4>
                <p style="margin:0;text-align:center;">Please do not reply to the address you received this email from. Manage your email communications below.</p>
            </td>
        </tr>
        <tr bgcolor="#FFFFFF" style="padding:30px 0;">
            <td>
                <h4 style="text-align:center;    display: grid;font-size:20px;color:#bf1313;margin-bottom:10px;">Why you received this email message: </h4>
                <p style="    margin: 14px 23px;text-align:center;">You are subscribed to the eastlaw.pk In Practice as ##EMAILSUBSCRIBER. You may be subscribed to multiple publications as part of your relationship with us.</p>
                <p style="text-align:center;    margin: 14px 23px;">To stop receiving the EastLaw.pk In Practice (unsubscribe) or to update your email marketing preferences, please click here. On this page, please update your subscription choices to this publication, and any others you may receive. You may also change your opt-in of email marketing promotions from ALM. It may take up to 10 days for your changes to take effect.</p>
            </td>
        </tr>
        <tr bgcolor="#FFFFFF" style="padding:30px 0;">
            <td>
                <h4 style="text-align:center;    display: grid;font-size:20px;color:#bf1313;margin-bottom:10px;">How to contact us should you have questions: </h4>
                <p style="    margin: 14px 23px;text-align:center;">
                    EastLaw (Pvt.) Ltd ® <br />
                    39-Link Farid Kot Road,<br />
                    Lahore, Pakistan<br />
                    Helpline #: 04237311670 / 04237311671
                </p>
        </tr>
    </table>
</body>
</html>
