<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body style="margin:0 !important;padding: 0;font-family:calibri;">
    <table width="600" cellpadding="10" cellspacing="0" style="font-family: calibri;margin: auto;width: 600px;max-width: 600px;border-collapse: collapse;" align="center">
        <tr>
            <td style="text-align: center;">
                <a href="http://www.eastlaw.pk" style="text-decoration: none;">
                    <img src="http://design.widerangedigital.com/eastlaw/img/new-logo2.png" alt="Eastlaw Logo" />
                </a>
            </td>
        </tr>
    </table>
    <table width="600" cellpadding="0" cellspacing="0" style="font-family: calibri;margin: auto;width: 600px;max-width: 600px;border-collapse: collapse;">
        <tr>
            <td height="8" style="height:8px;background:#DA2128;" bgcolor="#DA2128"></td>
        </tr>
    </table>
    <table width="600" cellpadding="50" cellspacing="0" style="font-family: calibri;margin: auto;width: 600px;max-width: 600px;border-collapse: collapse;">
        <tr>
            <td style="background:url(http://design.widerangedigital.com/eastlaw/img/newsletter-banner.jpg) no-repeat center center;background-size:cover; text-align:center;vertical-align:middle;" valign="middle">
                <h2 style="color:#DA2128;margin:0;font-size:33px;font-weight:normal;margin-bottom:5px;">Eastlaw.pk Newsletter</h2>
                <p style="color:#333;margin:0;font-size:19px;">##NLTITL##</p>
            </td>
        </tr>
    </table>
    <table width="600" cellpadding="0" cellspacing="0" style="font-family: calibri;margin: auto;width: 600px;max-width: 600px;border-collapse: collapse;">
        <tr>
            <td height="8" style="height:8px;background:#DA2128;" bgcolor="#DA2128"></td>
        </tr>
    </table>
    <table width="600" cellpadding="0" cellspacing="0" style="font-family: calibri;margin: auto;width: 600px;max-width: 600px;border-collapse: collapse;">
        <tr>
            <td height="10" style="height:10px;"></td>
        </tr>
        <tr>
            <td>
                <h2 style="margin:0;margin-bottom:5px;font-size:21px;">Eastlaw&reg; Updates</h2>
            </td>
        </tr>
        <tr>
            <td height="1" style="height:1px;background:#DA2128;" bgcolor="#DA2128"></td>
        </tr>
    </table>
    <table width="600" cellpadding="0" cellspacing="0" style="font-family: calibri;margin: auto;width: 600px;max-width: 600px;border-collapse: collapse;">
        <tr>
            <td height="8" style="height:8px;background:#fff;" bgcolor="#fff"></td>
        </tr>
        <tr>
            <td>
                <p style="color:#555;font-size:17px;font-weight:600;font-size:17px;margin:0;margin-bottom:15px;"><i>Judgements</i></p>
            </td>
        </tr>
        <tr>
            <td>
                ##CITDT##
               

                ##LGDT##
                
                ##DEPTDT##
                
                <p style="color:#333;margin-top:0;font-size:15px;"><a href="https://eastlaw.pk/cases/latest-judgments-public" target="_blank">More Updates</a> | <a href="https://eastlaw.pk/member/member-register" target="_blank">Register here for a free-trial</a></p>
            </td>
        </tr>
    </table>
    <table width="600" cellpadding="0" cellspacing="0" style="font-family: calibri;margin: auto;width: 600px;max-width: 600px;border-collapse: collapse;">
        <tr>
            <td height="10" style="height:10px;"></td>
        </tr>
        <tr>
            <td>
                <h2 style="margin:0;margin-bottom:5px;font-size:21px;">Legal News</h2>
            </td>
        </tr>
        <tr>
            <td height="1" style="height:1px;background:#DA2128;" bgcolor="#DA2128"></td>
        </tr>
    </table>
    <table width="600" cellpadding="0" cellspacing="0" style="font-family: calibri;margin: auto;width: 600px;max-width: 600px;border-collapse: collapse;">
        <tr>
            <td height="15" style="height:15px;background:#fff;" bgcolor="#fff"></td>
        </tr>
        <tr>
            <td>
                ##LGNWSDT##               
            </td>
        </tr>
    </table>

    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family: calibri;margin:auto;width:  600px;max-width: 600px;border-collapse: collapse;background:#fff;">
        <tr>
            <td height="20"></td>
        </tr>
    </table>
    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family: calibri;margin:auto;width:  600px;max-width: 600px;border-collapse: collapse;">
        <tr>
            <td height="160" style="display:grid;">
                <a href="https://eastlaw.pk/subscription" target="_blank"><img src="http://design.widerangedigital.com/eastlaw/img/subcribe_now.png" /></a>
            </td>
        </tr>
    </table>
    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family: calibri;margin:auto;width:  600px;max-width: 600px;border-collapse: collapse;background:#333;">
        <tr>
            <td style="text-align: center;">
               
                <p style="color: #FFFFFF;font-family: calibri;padding: 8px 0;margin: 0;">
                    You are receiving this Newsletter because you are subscribed to Eastlaw.pk
                    To unsubscribe, please reply to this email with the subject "unsubscribe newsletter" or click here [unsubscribe] . It may take up to 5 working days for the changes to take effect.
                </p>
               
                <p style="color: #FFFFFF;font-family: calibri;padding: 8px 0;margin: 0;">
                    &copy; Copyrights 2019 Eastlaw.pk. All Rights Reserved.
                </p>
            </td>

        </tr>

    </table>

</body>
</html>
