<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <location allowOverride="true" inheritInChildApplications="true">
    <appSettings>
      <add key="CurrentConnection" value="SqlServer"/>
      
      <add key="SqlServerConnectionString" value="o5xgG3VpSnsssA9JkGpkdV7Q/x+mw6KqEeQ2F9aWh0VNRYFY+WPuOqqy93lB30OaGQpbrjeruputHpwbkF3ekJXthfxMN4HQjqrkim6v+DFg8zMdwxP+H4AEzRDInlsyjCpsmu3/jTd/+GeZe2XWKw+VQUGxvT+Wwg2vWZkSmSH9A6TYj5Fa4w==" />
      <add key="CrystalImageCleaner-Sleep" value="60000"/>
      <add key="CrystalImageCleaner-Age" value="120000"/>
      <add key="websiteUrl" value=""/>
      <add key="taxRate" value="0"/>
      <add key="toemailinfo" value="muhammad.abubakar@live.com"/>
      <add key="Localhost" value="true"/>
      <!--<add key="fromEmail" value="registration@eastlaw.pk"/>
      <add key="fromEmailPassword" value="Kpn180"/>
      <add key="smtp" value="mail.eastlaw.pk"/>-->

		<add key="fromEmail" value="info@eastlaw.pk"/>
		<add key="formName" value="Eastlaw.pk"/>
		<add key="userNameEmail" value="cad985ccd5ac1b6056e92ebf736617fa" />
		<add key="fromEmailPassword" value="8d02fadfd1f67e9c16ed711c9a008320" />
		<add key="smtp" value="in-v3.mailjet.com" />
		<add key ="port" value="587" />
		
      <add key="errorReportingEmail" value="muhammad.abubakar@live.com"/>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    </appSettings>
  </location>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>