

.navbar
{transition: all linear 0.5s;
background: #fff;
}


.media-body
{width:auto;}

.top_nav a:hover
{text-decoration:none;}

.checkbox2
{float:left;
margin-right:5px;}

.checkbox-p
{float:left;
}
.my_panel ul li a
{color:#333;}

.scrollbar
{max-height:600px !important;
 min-height:300px;
}