.carousel-indicators {
    bottom:-40px;
	left:0;
	width:100%;
	background:#ccc;
	padding: 6px 0px;
	margin-left:0;
	border-top:2px solid #fff;
}
.carousel-indicators li {
	width:12px;
	height:12px;	
	background:#fff;
	border-color:#fff;
 
}
.carousel-indicators .active {
	width:14px;
	height:14px;
	background:#428bca;
	border-color:#428bca;
}
.carousel-inner .thumbnail {
	margin-bottom:0;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}
.carousel-inner .caption {
	background:#ddd;
	padding: 10px;
}


.carousel-inner>.item>a>img, .carousel-inner>.item>img
{height:220px;
width:100%;}

.caption h4
{font-weight:bold;}

.padding_left{padding-left:0;}

.style_2{margin-top:5px;padding-bottom:27px;    margin-bottom: 10px;}



.margin-top2{margin-top:15px;}

.icon_color{color:#DA2128;}

.span_style{font-weight:600; margin-left:2px;}

.forgot_pass{color:#333;}

.btn_style{padding:6px 37px;margin-top:10px;background:#da2128;}

.a_style2{    background: #6c6c6b;
    color: #fff !important;
    padding: 4px 7px;
    border-radius: 4px;}
	
.margin_bottom{margin-bottom:4px;}

.margin_bottom2
{margin-bottom:30px;}




